.dashbord-card {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 90vh;
  mat-card {
    width: 250px;
    height: 150px;
    mat-icon {
      font-size: 3rem;
      height: 50px;
      width: 50px;
      font-weight: 600;
    }
    p {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
