<section class="container py-5">
  <div class="row my-5 about-us">
    <div class="col-md-7 content">
      <h1 class="featurette-heading">Empowering Cognitive Health</h1>
      <p class="lead mt-3">
        We are a team of passionate professionals dedicated to advancing the field of cognitive health and improving the lives of those affected by Alzheimer's disease.
      </p>
      <p class="lead mt-3">
        With years of experience in healthcare and technology, we have combined our expertise to create a cutting-edge app that empowers individuals to take control of their cognitive health.
      </p>
      <p class="lead mt-3">
        Our mission is to provide accessible, reliable, and user-friendly tools for early detection of Alzheimer's disease, ultimately leading to better outcomes for patients and families.
      </p>
    </div>
    <div class="col-md-5">
      <div class="bg-container">
        <div class="bg"></div>
        <div class="frame"></div>
      </div>
    </div>
  </div>
</section>
