<section class="container py-5">
  <div class="row my-5 about-us">
    <div class="col-md-7 content">
      <h1 class="featurette-heading">Ultimate experiences with story, emotion and purpose</h1>
      <p class="lead mt-3">
        We help our clients succeed by creating brand identities, digital experiences, and printmaterials that communicate clearly, achieve marketing goals, and look fantastic.
      </p>
    </div>
    <div class="col-md-5">
      <div class="bg-container">
        <div class="bg"></div>
        <div class="frame"></div>
      </div>
    </div>
  </div>
</section>
