<mat-toolbar class="navbar" color="primary">
  <!-- (click)="snav.toggle()" -->
  <button (click)="toggleMenu.emit(true)" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <a class="navbar-brand" [routerLink]="['/landing']" matTooltip="Home">
    <h1>
      AD DETECTIONS
    </h1>
  </a>

  <span class="navbar-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
    <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
  </button>
  <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

    <a mat-menu-item>
      <span>You have new tasks</span>
    </a>
    <a mat-menu-item>
      <span>You have a new message</span>
    </a>

  </mat-menu>



  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
    <span fxShow fxHide.xs>
      {{userInfo?.name}}
    </span>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
    <a mat-menu-item [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>

    <a mat-menu-item [routerLink]="['/dashboard/profile']">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>

    <a mat-menu-item href="javascript:void(0)" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log out</span>
    </a>
  </mat-menu>

</mat-toolbar>
